<style>
  :root {
    --title-font-family: "EB Garamond", "极影毁片辉宋 Bold";
    --sys-font-family: "EB Garamond";
    --zh-font-family:  "Chill Round Gothic";
    --base-font-family: "EB Garamond", "Chill Round Gothic";
    --article-font-family: "Chill Round Gothic";
  }
</style>

<script>
  (function () {
    const customFont = document.createElement("link");
    customFont.href =
      "https://static.zeoseven.com/zsft/83/main/result.css";

    customFont.type = "text/css";
    customFont.rel = "stylesheet";

    document.head.appendChild(customFont);
  })();
  (function () {
    const customFont = document.createElement("link");
    customFont.href =
      "https://static.zeoseven.com/zsft/183/main/result.css";

    customFont.type = "text/css";
    customFont.rel = "stylesheet";

    document.head.appendChild(customFont);
  })();
  (function () {
    const customFont = document.createElement("link");
    customFont.href =
      "https://fonts.cdnfonts.com/css/eb-garamond-2";

    customFont.type = "text/css";
    customFont.rel = "stylesheet";

    document.head.appendChild(customFont);
  })();
</script>
