{{ $pages := where .Context.Site.RegularPages ".Params.categories" "intersect" (slice .Category) }}
<header>
    <a href="categories/{{ .Category }}">
        <div class="section-card">
            <div class="section-details">
                <h1 class="section-term">{{ .Category | strings.FirstUpper }}</h1>
            </div>
        </div>
    </a>
    <section class="article-list--compact">
        {{ range first 4 $pages }}
            {{ partial "article-list/compact" . }}
        {{ end }}
    </section>
</header>