$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

/*
*   Global style
*/
:root {
    --main-top-padding: 35px;

    @include respond(xl) {
        --main-top-padding: 50px;
    }

    --body-background: #f1ebeb;

    --accent-color: #91284f;
    --accent-color-darker: #670D2F;
    --accent-color-text: #fff;
    --body-text-color: #670D2F;

    --tag-border-radius: 4px;

    --section-separation: 40px;

    --scrollbar-thumb: hsl(0, 0%, 85%);
    --scrollbar-track: var(--body-background);

    &[data-scheme="dark"] {
        --body-background: #44444E;
        --accent-color: #D3DAD9;
        --accent-color-darker: #D3DAD9;
        --accent-color-text: #000;
        --body-text-color: #D3DAD9;
        --scrollbar-thumb: hsl(0, 0%, 40%);
        --scrollbar-track: var(--body-background);
    }
}

/**
*   Global font family
*/
:root {
    --sys-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
    --zh-font-family: "CEJK05-W05", "PingFang SC", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

    --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
    --code-font-family: monospace, var(--zh-font-family), monospace;
}

/*
*   Card style
*/
:root {
    --card-background: #f8f7f7;
    --card-background-selected: #eaeaea;

    --card-text-color-main: #3A0519;
    --card-text-color-secondary: #550927;
    --card-text-color-tertiary: #A53860;
    --card-separator-color: #bc889a;

    --card-border-radius: 5px;

    --card-padding: 20px;

    @include respond(md) {
        --card-padding: 25px;
    }

    @include respond(xl) {
        --card-padding: 30px;
    }

    --small-card-padding: 25px 20px;

    @include respond(md) {
        --small-card-padding: 25px;
    }

    &[data-scheme="dark"] {
        --card-background: #37353E;
        --card-background-selected: #715A5A;
        --card-text-color-main: #D3DAD9;
        --card-text-color-secondary: #D3DAD9;
        --card-text-color-tertiary:#D3DAD9;
        --card-separator-color: #715A5A;
    }
}

/**
*   Article content font settings
*/
:root {
    --article-font-family: var(--base-font-family);
    --article-font-size: 1.6rem;

    @include respond(md) {
        --article-font-size: 1.7rem;
    }

    --article-line-height: 1.85;
}

/*
*   Article content style
*/
:root {
    --blockquote-border-size: 3px;
    --blockquote-background-color: #f4f0f0;

    --heading-border-size: 2.5px;

    --link-background-color: 170,170,170;
    --link-background-opacity: 0.5;
    --link-background-opacity-hover: 0.7;

    --pre-background-color: #272822;
    --pre-text-color: #f8f8f2;

    --code-background-color: var(--body-background);
    --code-text-color: var(--accent-color-darker);

    --table-border-color: #dadada;  
    --tr-even-background-color: #efefee;

    --kbd-border-color: #dadada;

    &[data-scheme="dark"] {
        --code-background-color: #5A5A5A;
        --code-text-color: rgba(255, 255, 255, 0.9);

        --table-border-color: #717171;
        --tr-even-background-color: #545454;

        --blockquote-background-color: #3a3a40;
    }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
    --shadow-l1: 0px px 2px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
    --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
        0px 0px 1px rgba(0, 0, 0, 0.04);
}

[data-scheme="light"] {
    --pre-text-color: #272822;
    --pre-background-color: #fafafa;
    @import "partials/highlight/light.scss";
}

[data-scheme="dark"] {
    --pre-text-color: #f8f8f2;
    --pre-background-color: #272822;
    @import "partials/highlight/dark.scss";
}

:root {
    --menu-icon-separation: 40px;
    --container-padding: 15px;
    --widget-separation: var(--section-separation);
}
