{{ define "main" }}
    {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
    {{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
    {{ $filtered := ($pages | intersect $notHidden) }}
    {{ $pag := .Paginate ($filtered) }}

    {{ partial "article-list/overview" (dict "Context" . "Category" "Article") }}
    {{ partial "article-list/overview" (dict "Context" . "Category" "Records") }}
    {{ partial "article-list/overview" (dict "Context" . "Category" "Introductions") }}

    {{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}