{{ $file := .Get 0 }}
{{ $num := 4 }}
{{ if .Get 1 }} 
    {{ $num = .Get 1 }}
{{ end }}
{{ $width := div 90 $num }}
{{ $items := dict }}
{{ with resources.Get $file }}
    {{ $items = . | transform.Unmarshal }}
{{ else }}
    {{ errorf "Unable to get resource %q" $file }}
{{ end }}

<div class="work-list">
    {{range $item := $items}}
        <a href="{{ $item.url }}">
            <img class="work-list-item" src="{{ $item.image }}" loading="lazy" title="{{ $item.title }}" width="{{ $width }}%">
        </a>
    {{end}}
</div>

<style>
    .work-list {
        position:relative;
        overflow: hidden;
        text-align: center;
        width: 100%;
    }

    .work-list-item {
        padding: 0px;
        border-radius: var(--card-border-radius);
    }

    .work-list-item img {
        width:100%;
        height: 100%;
        object-fit: cover;
    }
</style>